@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: "Inter", sans-serif;
  }

  html {
    font-family: var(--font-inter), system-ui, -apple-system, sans-serif;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
